@font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans.woff2) format("woff2"), url(fonts/OpenSans.woff) format("woff"), url(fonts/OpenSans.ttf) format("opentype");
	font-display: fallback;
}
@font-face {
	font-family: SourceCodePro;
	src: url(fonts/SourceCodePro.ttf);
	font-display: fallback;
}
html,body { min-height: 100%; margin: 0; }
:root {
	--background-color: 15,20,25;
	--content-color: 197,197,197;
	--link-color: 0,150,207;
	--table-header: 255,255,255,.075;
	--code-view: #303841;
	--instr-u: #E01A4F;
	--instr-s: #369269;
	--instr-r: #F9C22E;
	--instr-i: #53B3CB;
	--light-switch-size: 1.5rem;
	--light-offset: .25rem;
	--theme-transition: .5s;
	--resp-transition: .33s;
}
#light:checked ~ * {
	--background-color: 225, 225, 219;
	--content-color: 0,0,0;
	--table-header: 0,0,0,.075;
	--instr-u: #c6432f;
	--instr-s: #369269;
	--instr-r: #d09200;
	--instr-i: #1b516b;
	--code-view: #ffffff;
}

/*webkit scrollbar color*/
::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-track { background: #0f1419; }
::-webkit-scrollbar-thumb{
	background: #909090;
	border-radius: 999em;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb:hover { background: #747474; }
::-webkit-scrollbar-thumb:hover:active { background: #414141; }
/*firefox scrollbar color*/
:root,* {
	scrollbar-color: #909090 #0f1419;
	scrollbar-width: thin;
}

#light-deco {
	color: rgb(var(--content-color));
	pointer-events: none;
}
#light-deco svg {
	transition: width var(--theme-transition), height var(--theme-transition);
	width: var(--light-switch-size);
	height: var(--light-switch-size);
}
#light-deco svg * {
	transition: fill var(--resp-transition);
	fill: rgb(var(--content-color));
}
#light-deco,#light {
	position: fixed;
	top: var(--light-offset);
	left: var(--light-offset);
	width: var(--light-switch-size);
	height: var(--light-switch-size);
	margin: 0;
	padding: 0;
}
#light {
	opacity: 0;
}

#light:checked ~ * :is(.instr-u,.instr-s,.instr-r,.instr-i) {
	font-weight: bolder;
}
.instr-u,.instr-s,.instr-r,.instr-i {
	font-family: SourceCodePro;
}
.instr-u { color: var(--instr-u);  }
.instr-s { color: var(--instr-s); }
.instr-r { color: var(--instr-r); }
.instr-i { color: var(--instr-i); }

*,*::before,*::after,:root {
	box-sizing: border-box;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	color: var(--link-color);
	text-decoration: underline;
}
a:visited { color: rgb(var(--link-color)); }
a:active { color: rgb(var(--link-color)); }
a:link { color: rgb(var(--link-color)); }
html {
	margin: 0;
	padding: 0;
}
#body-wrapper {
	padding: 2rem 10vw;
	font-family: OpenSans, Arial;
	color: rgb(var(--content-color));
	background: rgb(var(--background-color));
	transition: background var(--theme-transition), color var(--theme-transition);
}
.kinda-centered {
	margin-left: calc(8vw + 1rem);
	margin-right: calc(8vw + 1rem);
	transition: margin-left var(--resp-transition), margin-right var(--resp-transition);
}
@media (max-width: 700px) {
	.kinda-centered {
		margin-left: calc(4vw);
		margin-right: calc(4vw);
	}
	:root {
		--light-switch-size: 1.75rem;
		--light-offset: .25rem;
	}
}
@media (max-width: 600px) {
	.kinda-centered {
		margin-left: 0;
		margin-right: 0;
	}
	:root {
		--light-switch-size: 2.25rem;
		--light-offset: .33rem;
	}
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	line-height: .9em;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.center-text {
	text-align: center;
}
.line {
	border: none;
	display: block;
	width: 100%;
	margin: .33rem 5%;
	background: linear-gradient(
		to right,
		rgba(var(--content-color),0),
		rgba(var(--content-color),1),
		rgba(var(--content-color),0)
	);
	height: 2px;
}
.spacer-v {
	height: 1.33ch;
}
.tab {
	margin: 10px 20px;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	grid-gap: .5rem;
}
#logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo {
	height: 3rem;
	object-fit: contain;
	display: block;
}
#name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid rgb(var(--content-color));
  border-color: rgb(var(--content-color));
	transition: border-color var(--theme-transition);
}
th, td {
	padding: .1rem .33rem;
}
th {
	text-align:center;
	font-weight: bold;
	background: rgba(var(--table-header));
	transition: background var(--theme-transition), border-color var(--theme-transition);
}
.code {
	transition: all var(--theme-transition);
	display: block;
	font-family: SourceCodePro;
	background: var(--code-view);
	border-radius: .5rem;
	padding: .5rem .75rem;
	margin: .5rem;
	box-shadow: 0 0 .6rem rgba(0,0,0,.5);
}
.code.inline {
	display: inline-block;
}
.code-font {
	font-family: SourceCodePro;
}
