@font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans.ttf);
}
@font-face {
	font-family: SourceCodePro;
	src: url(fonts/SourceCodePro.ttf);
}
html,body { min-height: 100%; margin: 0; }
:root {
	--background-color: 15,20,25;
	--content-color: 197,197,197;
	--link-color: 0,150,207;
	--table-header: 255,255,255,.075;
	--code-view: #303841;
	--instr-u: #E01A4F;
	--instr-s: #FF8200;
	--instr-r: #F9C22E;
	--instr-i: #53B3CB;
	--light-switch-size: 1.5rem;
	--light-offset: .25rem;
}

#light-deco {
	color: rgb(var(--content-color));
	pointer-events: none;
}
#light-deco svg {
	width: var(--light-switch-size);
	height: var(--light-switch-size);
}
#light-deco svg * {
	fill: rgb(var(--content-color));
}
#light-deco,#light {
	position: fixed;
	top: var(--light-offset);
	left: var(--light-offset);
	width: var(--light-switch-size);
	height: var(--light-switch-size);
	margin: 0;
	padding: 0;
}
#light {
	opacity: 0;
}
#light:checked ~ *, #light:checked ~ #body-wrapper {
	--background-color: 225, 225, 219;
	--content-color: 0,0,0;
	--table-header: 0,0,0,.075;
	/*--code-view: #ffffff;*/
}

.instr-u { color: var(--instr-u); font-family: SourceCodePro; }
.instr-s { color: var(--instr-s); font-family: SourceCodePro; }
.instr-r { color: var(--instr-r); font-family: SourceCodePro; }
.instr-i { color: var(--instr-i); font-family: SourceCodePro; }
*,*::before,*::after,:root {
	box-sizing: border-box;
}
a {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	color: var(--link-color);
	text-decoration: underline;
}
a:visited { color: rgb(var(--link-color)); }
a:active { color: rgb(var(--link-color)); }
a:link { color: rgb(var(--link-color)); }
html {
	margin: 0;
	padding: 0;
}
#body-wrapper {
	padding: 2rem 10vw;
	font-family: OpenSans;
	color: rgb(var(--content-color));
	background: rgb(var(--background-color));
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	line-height: .9em;
}
.marginH2 {
	margin-top: .33rem;
	margin-bottom: .66rem;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.center-text {
	text-align: center;
}
.kinda-centered {
	margin-left: calc(8vw + 1rem);
	margin-right: calc(8vw + 1rem);
}
.line {
	display: block;
	width: 100%;
	margin: .33rem 5%;
	background: linear-gradient(
		to right,
		rgba(var(--content-color),0),
		rgba(var(--content-color),1),
		rgba(var(--content-color),0)
	);
	height: 2px;
}
.spacer-v {
	height: 1.33ch;
}
.tab {
	margin: 10px 20px;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	grid-gap: .5rem;
}
#logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo {
	height: 3rem;
	object-fit: contain;
	display: block;
}
#name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
table {
	border-collapse: collapse;
}
table, th, td {
  border: 1px solid rgb(var(--content-color));
}
th, td {
	padding: .1rem .33rem;
}
th {
	text-align:center;
	font-weight: bold;
	background: rgba(var(--table-header));
}
.code {
	display: block;
	font-family: SourceCodePro;
	background: var(--code-view);
	border-radius: .5rem;
	padding: .5rem .75rem;
	margin: .5rem;
	box-shadow: 0 0 .6rem rgba(0,0,0,.5);
}
.code.inline {
	display: inline-block;
}
.code-font {
	font-family: SourceCodePro;
}